.expenses {
    padding: 1rem;
    background-color:#92d4ee;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
  }
  .expenses-list {
    list-style: none;
    padding: 0;
  }
  
  .expenses-list__fallback {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
  }